.about-us{
    display: flex;
    min-height: 720px;
    overflow: hidden;
    
}   

.about-us__image{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: relative;
}

.about-us__image div{
    padding: 32px 64px;
    flex: 1;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    
}

.about-us__image-bulgogi{
    border-bottom: 8px solid var(--color-creamson);
    
}
/*
.bulgogibackground h1{ 
   right: ;
    width: 180%;
   height: 0px;
   text-align: center;
    color: rgb(113, 110, 110);
    opacity: 0.3;
    font-weight: 800;
    font-size: 60px;
} */
.about-us__image-bulgogi img{
    width: 225px;
    height: 200px;
}

.about-us__image-bibimbap img{
    width: 225px;
    height: 200px;
}

.about-us__button{
    position: absolute;
    right: 0;

    padding: 20px 32px;
    min-height: 64px;

    background: var(--secondary-color);
    border-radius: 32px 0 0 32px;
    color: white;
    border: 0;
    outline: 0;
    font-family: var(--plus-jakarta-sans);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    

    cursor: pointer;

   
}

.about-us__content{
    padding: 64px;
    flex: 0.94;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

